:root {
    --color-primario: #EC111A;
    --sombre: #000000;

    .menu{
        color: #fff !important;
        font-weight: bold;
        font-family: 'roboto';
    }
    .menu:hover{
        color: #8F7363!important;
    }    
    
    
    
    .busqueda{
        color: black;
        font-size: .8em;
    }
    
    .botoncito{
        color: #8F7363;
        background-color: #fff;
    }
    .botoncito:hover{
        background-color: #B8E9C6;
        transition: background-color 0s ease-in-out;
        border: 1px solid #000;
    }
form{
    background-color: #fff;
    border-radius: .5em;
    max-width: 1000px;
    padding: 2em;
    margin: auto;
    box-shadow: 0px 0px 4px #000000;

}

}
label{color: var(--color-primario);
    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Roboto';

}
input, textarea{
    width: 100%;
    border:1px solid var(--color-primario) ;
    padding: .3em ;
    margin: .7em ;
    border-radius: 0.5em;
}

textarea{
    min-height: 150px;
    max-height: 200px;


}

.boton{
    background-color: var(--color-primario); 
    color: #fff;
    font-weight: bold;
}

.boton:hover{
    background-color: #000;
    transition: background-color 2s ease-in-out;
    border: 1px solid #000;
}
    
